.card {
    background-color: rgb(236, 85, 85);
    color: rgb(23, 53, 151);
    border-radius: 45px;
    padding: 25px 40px;
    margin: 30px 0;
    position: relative;
    left: 45em;
    width: 400px;
  }
  
  