

.ContactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:auto;
    color:#222934;
    font-weight: 300;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    padding-top: 40px;
    font-family: 'Nunito';
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    background-color: #f5f7ebb8;
}

.ContactformContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
}

.ContactContainer{
    width:auto;
    color:#222934;
    font-weight: 300;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}


.ContactformContainer form{
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 15px;
    width: 50%;
    margin: 0 auto;
}

.ContactformContainer form input{
    color: #222934;
    border: 1px solid #c9464a;
    border-radius: 5px;
    padding: 5px;

    min-width: 300px;
}

.ContactformContainer form input:disabled{
    background-color: rgba(255, 255, 255, 0.162);
    color: #22293436;
    border: 1px solid #c9464a34;
}


.ContactformContainer form input:focus{
    outline: none;
}

.sendBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: #c9464a;
    color:#f5f7eb;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: fit-content;
    align-self: center;
    transition: 0.2s all;
    margin: 7px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.sendBtn:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.formInputDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 5px;

}

.error{
    background-color:#222934;
    font-weight: 500;
    color:#f5f7eb;
    padding: 7px;
    border-radius: 5px;
    margin: 8px;
}

.contactDone{
    font-size: 2rem;
    background-color:#222934;
    font-weight: 500;
    color:#f5f7eb;
    padding: 15px;
    border-radius: 5px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.animatedContactIcon{
    width: 300px;
    filter: grayscale(100%);

}

