.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #222934;
    color: #f5f7eb;
    height: fit-content;
    width: auto;
    padding: 20px;
}

.katana{
    font-size: 5rem;
}

.openhour-title{
    list-style: none;
}