:root{
    --mainFont: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

/*Meny*/
.container-layout {
    display: flex;
    justify-content: space-between;
    font-family: var(--mainFont);
    margin-left: 15%;
    margin-right: auto;
}

/*Meny*/
.food-title {
    color: white;
}

/*Meny layout*/
.container-menu, .container-drink, .container-dessert {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    place-items: center;
}

/*Meny images*/
img {
    width:200px;
    height:200px;
}

/*Meny namn*/
p {
    color: white;
    margin-top: 0;
}

/*Boka Board*/
.booking-message {
    width: 600px;
    height: 70px;
    border: 10px solid white;
    margin: 30px;
    padding-top: 15px;
    font-size: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Boka Board animation*/
.animate__bounceInLeft {
    animation-duration: 10s;
}

/*Boka Board*/
.button-a {
    text-decoration: none;
    color: white;
    margin: 5px;
}
  
/*Boka Board mouse over*/
.booking-message:hover {
    color: #ffd900a4;
    border-color: rgba(255, 217, 0, 0.644);
  }

/*Google map*/
.about-us {
    display: flex;
    height: 85vh;
}

/*Google map */
.google-map {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Google map right side */
.container-door {
    width: 30%;
}

/*----------Tablet Landscape:811px-1026px---------------------*/
@media screen and (min-width:811px) and ( max-width:1026px) {
    .container-layout {
        margin-left: 5px;
    }

    .about-us{
        height:400px;
    }
}/*Tablet Landscape:811px-1026px*/

/*----------Tablet 761px-810px---------------------*/
@media screen and (min-width:761px) and ( max-width:810px) {
    .container-layout {
        margin-left: 5px;
    }

    .about-us{
        height:400px;
    }

    .container-menu, .container-drink, .container-dessert {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin-left: 10%;
    }
}/*Tablet 761px-810px*/

/*----------Mobile 481px-760px---------------------*/
@media screen and (min-width:481px) and ( max-width:760px) {
    .container-layout {
        margin-left: 5px;
    }

    .container-menu, .container-drink, .container-dessert {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-left: 8%;
    }

    .booking-message {
        width: 330px;
        border: 5px solid white;
    }

    .about-us{
        flex-direction: column;
        height: 300px;
    }

    .google-map{
        height: 300px;
        width: 100%;
    }

    .container-door{
        display: none;
    }
}/*Mobile 481px-760px*/

/*----------Mobile max 480px---------------------*/
@media screen and ( max-width:480px){
    .container-layout {
        margin-left: 5px;
    }

    .container-menu, .container-drink, .container-dessert {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .booking-message {
        width: 330px;
        border: 5px solid white;
    }

    .about-us{
        flex-direction: column;
        height: 300px;
    }

    .google-map{
        height: 300px;
        width: 430px;
    }

    .container-door{
        display: none;
    }
}/*Mobile max 480px*/
