:root{
    --mainFont: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.container-layout {
    display: flex;
    justify-content: space-between;
    font-family: var(--mainFont);
    margin-left: 15%;
    margin-right: auto;
}

.food-title {
    color: white;
}

.container-menu, .container-drink, .container-dessert {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    place-items: center;
}

img {
    width:200px;
    height:200px;
}

p {
    color: white;
    margin-top: 0;
}

li {
    list-style: none;
    padding: 10px 0 10px 0;
    color: white;
}

.booking-message {
    width: 600px;
    height: 80px;
    border: 10px solid white;
    margin: 50px;
    padding-top: 20px;
    font-size: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.animate__bounceInLeft {
    animation-duration: 10s;
}

.button-a {
    text-decoration: none;
    color: white;
    margin: 20px;
}
  
/* mouse over link */
.booking-message:hover {
    color: rgba(255, 217, 0, 0.644);
    border-color: rgba(255, 217, 0, 0.644);
  }

/*about us */
.about-us {
    display: flex;
    height: 85vh;
}

/* google map */
.google-map {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-door {
    width: 30%;
    
}

