
 nav{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: auto;
   padding: 30px;
 }

 .navigation{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: fit-content;
   gap: 20px;
   list-style: none;
 }

 .navigation a{
  color: #222934;
  text-decoration: none;
 }

 .logo{
   color: #c9464a;
   font-size: 3rem;
 }