.App {
  text-align: center;
}

:root{
  --mainFont: cursive;
}

 nav{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
 }

 .navigation{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: fit-content;
   gap: 15px;
 }

 ul li a {
  list-style-type: none;
  margin-right: 20px;
  color: black;
  font-size: 1.6rem;
  font-family: var(--mainFont);
  text-decoration: none;
 }

 ul li a:hover {
   color: brown;
 }

 header {
   background-repeat: no-repeat;
   border: 1px solid rgb(73, 72, 72);
 }
 .logo {
   font-family: var(--mainFont);
   font-size: 4rem;
 }

 
 